{% extends 'base_generic.html' %} {% block content %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    var formCount = parseInt("{{ ratios.total_form_count }}");
    var addButton = document.getElementById("add-ratio-button");
    var formContainer = document.getElementById("ratio-forms-container");
    var valorTotalInput = document.getElementById("id_valor_total");
    var form = document.querySelector("form");

    addButton.addEventListener("click", function () {
      var newForm = "{{ ratios.empty_form.as_p|escapejs }}";
      newForm = newForm.replace(/__prefix__/g, formCount);
      formContainer.insertAdjacentHTML("beforeend", newForm);
      document.getElementById("id_ratios-TOTAL_FORMS").value = formCount + 1;
      formCount++;
    });

    form.addEventListener("submit", function (event) {
      var totalRatios = 0;
      document.querySelectorAll(".ratio-valor-input").forEach(function (input) {
        totalRatios += parseFloat(input.value) || 0;
      });

      if (totalRatios !== parseFloat(valorTotalInput.value)) {
        event.preventDefault(); // Impede o envio do formulário
        alert("A soma dos valores dos rateios deve ser igual ao valor total.");
      }
    });
  });
</script>
<div class="container mt-3">
  <h1 class="pb-4">Criar Nota</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <div id="ratio-forms-container">{{ ratios.management_form }}</div>
    <div class="mt-4 d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" id="add-ratio-button" class="btn btn-outline-primary me-md-2">Adicionar Ratio</button>
      <button type="submit" class="btn btn-primary">Salvar Nota</button>
      <a href="{% url 'gestao_notas:nota_list' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
