{% extends "base_generic.html" %} {% block content %}
<div class="container mt-3">
  <h1>Detalhes do Destinatário: {{ object.nome }}</h1>
  <p>
    <strong>Documento:</strong>
    {{ object.documento }}
  </p>
  <a href="{% url 'gestao_notas:destinatario_update' object.pk %}" class="btn btn-outline-secondary">Editar</a>
  <a href="{% url 'gestao_notas:destinatario_delete' object.pk %}" class="btn btn-outline-danger">Excluir</a>
  <a href="{% url 'gestao_notas:destinatario_list' %}" class="btn btn-outline-primary">Voltar à lista</a>
</div>
{% endblock %}
