{% extends "base_generic.html" %} {% block content %}
<div class="container mt-3">
  <h1>Detalhes da Categoria: {{ object.nome }}</h1>
  <p>
    <strong>Nome:</strong>
    {{ object.nome }}
  </p>
  <a href="{% url 'gestao_notas:categoria_update' object.pk %}" class="btn btn-outline-secondary">Editar</a>
  <a href="{% url 'gestao_notas:categoria_delete' object.pk %}" class="btn btn-outline-danger">Excluir</a>
  <a href="{% url 'gestao_notas:categoria_list' %}" class="btn btn-outline-primary">Voltar à lista</a>
</div>
{% endblock %}
